<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>
  <% include ../partials/footer %>
</body>

</html>
